.Spiderman{
  position: absolute;
  top: 30%;
  right: 53%;
}
.GTA5 {
  position: absolute;
  top: 30%;
  right: 70%;
}
.Detroit{
  position: absolute;
    top: 30%;
    right: 36%;
}
.Starwars{
position: absolute;
  top: 30%;
  right: 19%;
}
.Warrome{
position: absolute;
top: 50%;
right: 70%;
}
.Elex{
  position: absolute;
  top: 50%;
  right: 53%;
}
.Mafia{
  position: absolute;
    top: 50%;
    right: 36%;
}
.Sekiro{
  position: absolute;
    top: 50%;
    right: 19%;
}
